html {
    background-color: #161414;
}

* {
    font-family: 'Segoe UI', Tahoma;
}

h1 {
    color: #fff;
    letter-spacing: 3px;
    font-size: 60px;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.urlbox {
    padding: 10px;
    display: flex;
    width: 75vw;
    min-width: 200px;
    max-width: 1000px;
    justify-content: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.urlbox input, #qual, #start {
    background-color: rgb(27, 27, 29);
    border: 1px solid #464343;
    color: #fff;
    padding: 12px 20px;
    outline: none;
    font-size: 20px;
}

.urlbox input {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex-grow: 1;
    font-size: 16px;
}

#qual {
    border-radius: 0;
}

#start {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #d74417;
}

#qual, #start {
    border-left: none;
    transition: all ease-in-out .2s;
    cursor: pointer;
}

#qual:hover {
    color: #d74417;
}

#start:hover {
    box-shadow: 0px 0px 50px 20px #575757a1;
}

.result {
    display: none;
    background-color: #d74417;
    border-radius: 4px;
    width: calc(75vw - 20px);
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

#stat {
    color: #fff;
}

.result h3, .result p {
    color: #fff;
}

.result img {
    border: 2px solid #fff;
    border-radius: 4px;
}

.result progress {
    width: calc(100% - 20px);
    height: 20px;
    border: none;
    border-radius: 4px;
    background-color: #d74417;
}

.result progress::-moz-progress-bar { background: #161414; }
.result progress::-webkit-progress-value { background: #161414; }

.loader {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid #d74417;
    border-radius: 6px;
    bottom: 40px;
    display: none;
    animation: loading infinite forwards 3s;
}

.end {
    width: 75vw;
    display: none;
    justify-content: center;
    margin-top: 10px;
}

.end button {
    margin: 0 5px;
    background-color: #fff;
    border: none;
    padding: 6px 18px;
    border-radius: 4px;
    transition: all ease-in-out .2s;
    cursor: pointer;
    color: #464343;
}

.end button:hover {
    background-color: #d74417;
    color: #fff;
}

.credits {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: #060606;
    border-radius: 4px;
}

.credits * {
    margin: 0;
    padding: 4px;
}

.credits p {
    color: #fff;
}

.credits a {
    text-decoration: none;
}

.filters {
    background-color: #d74417;
    border-radius: 4px;
    width: calc(75vw - 20px);
    padding: 10px;
    text-align: center;
}

.hidden {
    display: none;
}


#ph {
    background-color: #d74417;
    padding: 4px;
    border-radius: 4px;
}

@keyframes loading {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}